<%= content_for(:title, 'Portfolio') %>

<!-- ===========================
PORTFOLIO SECTION START
=========================== -->
<div id="portfolio">
  <div class="sectionhead wow bounceInUp" data-wow-duration="2s">
    <span class="bigicon icon-rocket"></span>
    <h3>A few recent works</h3>
    <hr class="separetor">
  </div><!-- PORTFOLIO SECTION HEAD END -->

  <!-- PORTFOLIO ITEMS START -->
  <div class="portfolioitems container">
    <ul>
      <div id="shotsByPlayerId"></div>
    </ul><!--REFER TO THE js/drifolio.js-->
  </div><!-- PORTFOLIO ITEMS END -->

  <!--Replace the URL below with your dribbble profile URL-->
  <a class="btn btn-default wow fadeInUp" href="#" role="button">
    <span class="btnicon icon-social-dribbble"></span>
    <span class="button_text">Portfolio coming soon..........</span>
  </a>
</div><!-- PORTFOLIO SECTION END -->

<!-- ===========================
TESTIMONIAL SECTION START
=========================== -->