<div class="modal fade" id="my-modal" title="My modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header nav_bar_blue">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">X</button>
        <h4 id="myModalLabel"></h4>
      </div>

      <div class="modal-body">
        <section class="modal-value"></section>
      </div>

      <div class="modal-footer">
        <button aria-hidden="true" class="btn nav_bar_blue" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>