<div class="container margin_top_20">
  <div class="wow bounceInUp">
    <h4>Create notification/Upload photos</h4>
  </div>
  <div class="wow rotateIn">
    <%= render 'form', gallery: @gallery %>
  </div>
</div>